*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*************************** Global ***************************/

body {
    min-height: 100vh;
    background: url(../img/background.jpg) center/cover;
}

/*************************** Header ***************************/

header {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    background: transparent;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background: transparent;
}

.container h1 {
    color: white;
    font-weight: 900;
}

.container ul {
    display: flex;
    align-items: center;
}

ul li {
    margin-right: 30px;
    list-style: none;
    position: relative;
}

/* Animation sur la navbar */
ul li::after {
    content: "";
    position: absolute;
    background: white;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}

ul li:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}



li a {
    text-decoration: none;
    color: white;
    font-weight: 800;
}

ul button {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 13px;
    font-weight: 900;
    width: 100px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.5s;
}

ul button:hover {
    background: white;
    color: #162938;
}

section {
    display: flex;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(20px);
    margin: 0 auto;
    width: 400px;
    position: relative;
}

section .container-login {
    border: 1px solid red;
    padding: 0 20px 20px 20px;
    width: 100%;
}

.container-login h1{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.6rem;
}

.container-login form {
    border: 1px solid red;   
}

form .email, form .password {
    border: 1px solid red;
    height: 50px;
    margin-bottom: 10px;
}

.email input[type="email"], .password input[type="password"] {
    width: 100%;
}